

.auth{

    .bg-img{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: url("../../assets/img/abstract-flat-background-free-vector.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        
    }

    .title{
       padding-top: 100px;
       text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;

       img{
           width: 66px;
           height: 60px;
           
       }

       h2{
           margin: 0;
           margin-left: 18px;
       }
    }

    .form{
        width: 400px;
        margin: 0 auto;

        .item{
            margin-bottom: 16px;

            button{
                width: 400px;
            }
        }
    }
}